*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.bg-gray{
    background-color: #f5f5f5 !important;
}

/* ---------------------------------navbar start--------------------------------- */
.ri-heart-line:hover{
    background-color: #dddedf;
    border-radius: 50%;
}
.ri-shopping-bag-line:hover{
    background-color: #dddedf;
    border-radius: 50%;
}
.nav-link:hover{
    text-decoration: underline !important;
}
/* ---------------------------------navbar end--------------------------------- */


/* ---------------------------------slider section start--------------------------------- */
.carousel-indicators [data-bs-target]{
    border-radius: 50% !important;
    height: 10px !important;
    width: 10px !important;
}

.carousel-control-next{
    color: black !important;
    width: 50px !important;
    height: 60px !important;
    top: 50% !important;
    background-color: rgb(182, 180, 180);
    border-radius: 50%;
    right: 40px !important;
}
.carousel-control-prev{
    color: black !important;
    width: 50px !important;
    height: 60px !important;
    top: 50% !important;
    background-color: rgb(182, 180, 180);
    border-radius: 50%;
    left: 40px !important;
}
/* ---------------------------------slider section end--------------------------------- */


/* ---------------------------------athlete section start--------------------------------- */
.shop-btn1{
    position: absolute;
    left: 50px;
    bottom: 0;
}
.shop-btn1:hover{
    background-color: rgb(202, 198, 198) !important;
}
/* ---------------------------------athlete section end--------------------------------- */


/* ---------------------------------featured section start--------------------------------- */
.featured-title{
    position: absolute;
    left: 50px;
    bottom: 100px;
}
/* ---------------------------------featured section end--------------------------------- */